@model IEnumerable<Location>
@{
    ViewBag.Title = "Search";
}

<div class="row">
    <div class="col-md-3">
        <div class="affix" style="margin-top: 30px;">
            <button type="button" class="btn btn-primary btn-lg" style="width: 100%">Search</button>
            <h3>Category</h3>
            @Html.DropDownList("CategoryId", ViewBag.CategoryId as SelectList, htmlAttributes: new { @class = "form-control" })
            <hr />
            @Html.Action("List", "Neighborhoods")
        </div>
    </div>
    <div class="col-md-9">
        @Html.Partial("_LocationsOverviewPartial", Model)
    </div>
</div>